@import './variables';

$font-size-button-primary: 16px;
$font-size-button-secondary: 14px;

button,
.button,
input[type="button"],
input[type="submit"] {
  text-transform: uppercase;
  text-align: center;
  font-family: "TTCommons-DemiBold", sans-serif;
  background: $color-primary;
  color: $white;
  border: none;
  padding: $spacing-06;
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: $border-radius;
}

button:disabled,
.button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
  background: rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.5);
  cursor: not-allowed;
}

.button--secondary {
  background: transparent;
  border: 1px solid $color-primary;
  color: $color-primary;
}

.button--pill {
  display: block;
  min-width: 100px;
  text-align: center;
  background: transparent;
  user-select: none;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid $gray-30;
  padding: $spacing-04 $spacing-06;
}

.button-primary {
	height: 60px;
	text-transform: uppercase;
	font-weight: $font-weight-demibold;
	font-size: $font-size-button-primary;
	letter-spacing: 1.3px;
	border-radius: $border-radius;
	outline: none;
}

.button-secondary {
  font-weight: $font-weight-demibold;
	font-size: $font-size-button-secondary;
	color: $color-primary;
	letter-spacing: 1px;
	background-color: transparent;
	text-transform: uppercase;
	text-decoration: underline;
	outline: none;
}
