@import './variables';
@import './mixins';

$button-height: $spacing-08;

button,
.button,
input[type="button"],
input[type="submit"] {
	display: inline-block;
	@include text-cta();
	text-align: center;
	background: $color-primary;
	color: $white;
	padding: 0 $spacing-07;
	cursor: pointer;
	border-radius: $border-radius;
	user-select: none;
	height: $button-height;
	overflow: hidden;

	// NOTE: The 1px border and 2px offset is required to correctly center the text vertically.
	border: 1px solid transparent;
	line-height: calc(#{$button-height} + 2px);
}

button:disabled,
.button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
	background: rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.4);
	cursor: not-allowed;
}

.button--secondary {
	background: transparent;
	border: 1px solid $color-primary;
	color: $color-primary;
}

.button--tertiary {
	background-color: $beige-dark;
	color: $color-primary;
}

.button--secondary:disabled {
	background: transparent;
	border-color: rgba(0,0,0,0.1);
}

.button--pill {
	border-radius: 999em;
}

.button--link {
	color: inherit;
	padding: 0;
	line-height: 1;
	height: auto;
	background: transparent;
	text-decoration: underline;
}
