@font-face {
	font-family: 'tt-commons-light';
	src: url('//d2o1yeay6pz8lh.cloudfront.net/fonts/tt-commons-light.woff2') format('woff2'),
	url('//d2o1yeay6pz8lh.cloudfront.net/fonts/tt-commons-light.woff') format('woff');
}

@font-face {
	font-family: 'tt-commons-regular';
	src: url('//d2o1yeay6pz8lh.cloudfront.net/fonts/tt-commons-regular.woff2') format('woff2'),
	url('//d2o1yeay6pz8lh.cloudfront.net/fonts/tt-commons-regular.woff') format('woff');
}

@font-face {
	font-family: 'tt-commons-medium';
	src: url('//d2o1yeay6pz8lh.cloudfront.net/fonts/tt-commons-medium.woff2') format('woff2'),
	url('//d2o1yeay6pz8lh.cloudfront.net/fonts/tt-commons-medium.woff') format('woff');
}

@font-face {
	font-family: 'tt-commons-demibold';
	src: url('//d2o1yeay6pz8lh.cloudfront.net/fonts/tt-commons-demibold.woff2') format('woff2'),
	url('//d2o1yeay6pz8lh.cloudfront.net/fonts/tt-commons-demibold.woff') format('woff');
}
