@import './variables';

// TYPOGRAPHY
// ==========

// Font Weights
// ------------

@mixin text-light() {
	font-family: 'tt-commons-light', sans-serif;
}

@mixin text-normal() {
	font-family: 'tt-commons-regular', sans-serif;
}

@mixin text-bold() {
	font-family: 'tt-commons-medium', sans-serif;
}

@mixin text-bolder() {
	font-family: 'tt-commons-demibold', sans-serif;
}

// Headings
// --------

@mixin text-heading-1() {
	font-size: 7.2 * $rem;
	line-height: 7.6 * $rem;
	@include text-light();
}

@mixin text-heading-2() {
	font-size: 5.6 * $rem;
	line-height: 6.0 * $rem;
	@include text-light();
}

@mixin text-heading-3() {
	font-size: 3.6 * $rem;
	line-height: 4.0 * $rem;
	@include text-light();
}

@mixin text-heading-4() {
	font-size: 3.0 * $rem;
	line-height: 3.4 * $rem;
	@include text-bold();
}

@mixin text-heading-5() {
	font-size: 2.4 * $rem;
	line-height: 2.8 * $rem;
	@include text-bold();
}

@mixin text-heading-6() {
	font-size: 2.0 * $rem;
	line-height: 2.4 * $rem;
	@include text-bold();
}

// Body Text
// ---------

@mixin text-body() {
	font-size: 1.8 * $rem;
	line-height: 2.2 * $rem;
	@include text-normal();
}

@mixin text-body-small() {
	font-size: 1.4 * $rem;
	line-height: 1.8 * $rem;
	@include text-normal();
}

// CTA Text
// --------

@mixin text-cta() {
	font-size: 1.6 * $rem;
	line-height: 1;
	@include text-uppercase();
	@include text-bolder();
}

@mixin text-cta-small() {
	@include text-cta();
	font-size: 1.4 * $rem;
}

// Text Modifiers
// ---------------

@mixin text-subtle() {
	color: $color-text-gray;
}

@mixin text-error() {
	color: $color-danger;
}

@mixin text-uppercase() {
	text-transform: uppercase;
	letter-spacing: 0.14 * $rem;
}
