@import './variables';

// TYPOGRAPHY
// ==========

// Font Weights
// ------------

@mixin text-light() {
	font-family: 'tt-commons-light', sans-serif;
}

@mixin text-normal() {
	font-family: 'tt-commons-regular', sans-serif;
}

@mixin text-bold() {
	font-family: 'tt-commons-medium', sans-serif;
}

@mixin text-bolder() {
	font-family: 'tt-commons-demibold', sans-serif;
}

// Headings
// --------

@mixin text-heading-1() {
	font-size: 7.2 * $rem;
	line-height: 7.6 * $rem;
	@include text-light();
}

@mixin text-heading-2() {
	font-size: 5.6 * $rem;
	line-height: 6.0 * $rem;
	@include text-light();
}

@mixin text-heading-3() {
	font-size: 3.6 * $rem;
	line-height: 4.0 * $rem;
	@include text-light();
}

@mixin text-heading-4() {
	font-size: 3.0 * $rem;
	line-height: 3.4 * $rem;
	@include text-bold();
}

@mixin text-heading-5() {
	font-size: 2.4 * $rem;
	line-height: 2.8 * $rem;
	@include text-bold();
}

@mixin text-heading-6() {
	font-size: 2.0 * $rem;
	line-height: 2.4 * $rem;
	@include text-bold();
}

// Body Text
// ---------

@mixin text-body() {
	font-size: 1.8 * $rem;
	line-height: 2.2 * $rem;
	@include text-normal();
}

@mixin text-body-small() {
	font-size: 1.4 * $rem;
	line-height: 1.8 * $rem;
	@include text-normal();
}

// CTA Text
// --------

@mixin text-cta() {
	font-size: 1.6 * $rem;
	line-height: 1;
	@include text-uppercase();
	@include text-bolder();
}

@mixin text-cta-small() {
	@include text-cta();
	font-size: 1.4 * $rem;
}

// Text Modifiers
// ---------------

@mixin text-subtle() {
	color: $color-text-gray;
}

@mixin text-error() {
	color: $color-danger;
}

@mixin text-uppercase() {
	text-transform: uppercase;
	letter-spacing: 0.14 * $rem;
}

@mixin text-strikethrough() {
	text-decoration: line-through;
}

// Utilities
// =========

@mixin line-clamp($lines) {
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

// Buttons
// =======

$button-height: $spacing-08;
$button-height-large: 82px;

@mixin _button--secondary {
	background: transparent;
	border: 1px solid $color-primary;
	color: $color-primary;

	&:disabled {
		background: transparent;
		border-color: rgba(0,0,0,0.1);
	}
}

@mixin _button--tertiary {
	background-color: $beige-dark;
	color: $color-primary;
}

@mixin _button--pill {
	border-radius: 999em;
}

@mixin _button--large {
	width: 100%;
	height: $button-height-large;
	border-radius: 0;
	// NOTE: The 1px border and 2px offset is required to correctly center the text vertically.
	border: 1px solid transparent;
	line-height: calc(#{$button-height-large} + 2px);
}

@mixin button {
	@include text-cta();
	display: inline-block;
	text-align: center;
	background: $color-primary;
	color: $white;
	padding: 0 $spacing-07;
	cursor: pointer;
	border-radius: $border-radius;
	user-select: none;
	height: $button-height;
	overflow: hidden;

	// NOTE: The 1px border and 2px offset is required to correctly center the text vertically.
	border: 1px solid transparent;
	line-height: calc(#{$button-height} + 2px);

	&:disabled {
		background: rgba(0,0,0,0.1);
		color: rgba(0,0,0,0.4);
		cursor: not-allowed;
	}
}

@mixin button-secondary {
	@include button();
	@include _button--secondary();
}

@mixin button-tertiary {
	@include button();
	@include _button--tertiary();
}

@mixin button-pill {
	@include button();
	@include _button--pill();
}

@mixin button-pill-secondary {
	@include button();
	@include _button--pill();
	@include _button--secondary();
}

@mixin button-large {
	@include button();
	@include _button--large();
}

@mixin button-link {
	@include button();
	color: inherit;
	padding: 0;
	line-height: 1;
	height: auto;
	background: transparent;
	text-decoration: underline;
}
