// Colors
// ------

$white: #fff;
$beige: #f6f4ec;
$beige-dark: #d4d2ca;
$yellow: #c8900f;

$gray-10: #f4f4f4;
$gray-20: #e0e0e0;
$gray-30: #c6c6c6;
$gray-40: #a8a8a8;
$gray-50: #8d8d8d;
$gray-60: #6f6f6f;
$gray-70: #525252;
$gray-80: #393939;
$gray-90: #262626;
$gray-100: #161616;

$red-10: #fff1f1;
$red-20: #ffd7d9;
$red-30: #ffb3b8;
$red-40: #ff8389;
$red-50: #fa4d56;
$red-60: #da1e28;
$red-70: #a2191f;
$red-80: #750e13;
$red-90: #520408;
$red-100: #2d0709;

$green-10: #defbe6;
$green-20: #a7f0ba;
$green-30: #6fdc8c;
$green-40: #42be65;
$green-50: #24a148;
$green-60: #198038;
$green-70: #0e6027;
$green-80: #044317;
$green-90: #022d0d;
$green-100: #071908;

$blue-10: #edf5ff;
$blue-20: #d0e2ff;
$blue-30: #a6c8ff;
$blue-40: #78a9ff;
$blue-50: #4589ff;
$blue-60: #0f62fe;
$blue-70: #0043ce;
$blue-80: #002d9c;
$blue-90: #001d6c;
$blue-100: #001141;


// Semantic Colors
// ---------------

$color-primary: #282321;

$color-text-gray: #9c9c9c;
$color-text-placeholder: $gray-50;
$color-text-legal: #a42b23;

$color-danger: $red-60;
$color-danger-background: $red-10;
$color-danger-border: $red-20;

$color-success: $green-60;
$color-success-background: $green-10;
$color-success-border: $green-20;

$color-info: $blue-60;
$color-info-background: $blue-10;
$color_info-border: $blue-20;


// Spacing
// -------

$rem: 10px;

$spacing-01: 0.2 * $rem;
$spacing-02: 0.4 * $rem;
$spacing-03: 0.8 * $rem;
$spacing-04: 1.2 * $rem;
$spacing-05: 1.6 * $rem;
$spacing-06: 2.4 * $rem;
$spacing-07: 3.2 * $rem;
$spacing-08: 4.0 * $rem;
$spacing-09: 4.8 * $rem;
$spacing-10: 6.4 * $rem;
$spacing-11: 9.6 * $rem;
$spacing-12: 12.0 * $rem;

// Semantic Spacing
// ----------------

$form-column-gap: $spacing-06;


// Screen sizes
// ------------

$max-width-extra-small: 568px;
$max-width-small: 768px;
$max-width-medium: 1152px;


// Borders
// -----

$border-width: 1px;
$border-radius: 4px;
$border-color: $gray-40;
$border-color-light: $gray-20;
$border: $border-width solid $border-color;
$border-light: $border-width solid $border-color-light;
