@import '../styles/variables';

.spacing-table th,
.spacing-table td {
	padding-right: $spacing-05;
}

.spacing-table__box { background: $beige; }
.spacing-table__box-01 { width: $spacing-01; height: $spacing-01; }
.spacing-table__box-02 { width: $spacing-02; height: $spacing-02; }
.spacing-table__box-03 { width: $spacing-03; height: $spacing-03; }
.spacing-table__box-04 { width: $spacing-04; height: $spacing-04; }
.spacing-table__box-05 { width: $spacing-05; height: $spacing-05; }
.spacing-table__box-06 { width: $spacing-06; height: $spacing-06; }
.spacing-table__box-07 { width: $spacing-07; height: $spacing-07; }
.spacing-table__box-08 { width: $spacing-08; height: $spacing-08; }
.spacing-table__box-09 { width: $spacing-09; height: $spacing-09; }
.spacing-table__box-10 { width: $spacing-10; height: $spacing-10; }
.spacing-table__box-11 { width: $spacing-11; height: $spacing-11; }
.spacing-table__box-12 { width: $spacing-12; height: $spacing-12; }
